In [2]:
import numpy as np
import pandas as pd

In [9]:
df = pd.read_csv('tabela-geral-para-visualizacao_09_07_2021.csv', encoding='latin-1')
print(df.shape)
print(df.to_string)

(23, 31)
<bound method DataFrame.to_string of    Unnamed: 0                        Unnamed: 1  Unnamed: 2  Unnamed: 3  \
0         NaN  Taxa de Frequência Escolar Bruta         NaN         NaN
1         Ano                             Total  0 a 3 anos  4 a 5 anos
2        2000                               NaN         NaN         NaN
3        2001                               NaN         NaN         NaN
4        2002                               NaN         NaN         NaN
5        2003                               NaN         NaN         NaN
6        2004                              31.7        13.4        61.5
7        2005                             31.2        13.0        62.8
8        2006                             31.2        15.4        67.5
9        2007                             30.7        17.0        70.0
10       2008                             30.2        18.1        72.7
11       2009                             29.8        18.4        74.8
12       2010                               NaN         NaN         NaN
13       2011                             28.6        20.8        77.4
14       2012                             28.0        21.2        78.1
15       2013                             27.9        23.2        81.4
16       2014                             27.2        24.6        82.7
17       2015                             26.8        25.6        84.3
18       2016                             27,5        30,4        90,2
19       2017                             27,3        32,7        91,7
20       2018                              27,1       34,2        92,4
21       2019                              26,9        35,6        92,9
22       2020                               NaN         NaN         NaN

     Unnamed: 4    Unnamed: 5   Unnamed: 6    Unnamed: 7    Unnamed: 8  \
0           NaN           NaN          NaN           NaN           NaN
1   6 a 10 anos  11 a 14 anos  6 a 14 anos  15 a 17 anos  18 a 24 anos
2           NaN           NaN          NaN           NaN           NaN
3           NaN           NaN          NaN           NaN           NaN
4           NaN           NaN          NaN           NaN           NaN
5           NaN           NaN          NaN           NaN           NaN
6          95.9          96.4         96.1          81.8          32.2
7         96.4          96.7         96.5          81.6          31.6
8         96.9          96.9         96.9          82.1          31.7
9         97.0          97.0         97.0          82.1          30.8
10        97.6          97.3         97.5          84.1          30.4
11        97.7          97.5         97.6          85.2          30.3
12          NaN           NaN          NaN           NaN           NaN
13        98.3          98.1         98.2          83.7          28.9
14        98.3          98.1         98.2          84.2          29.3
15        98.7          98.2         98.4          84.3          30.0
16        98.8          98.2         98.5          84.3          30.0
17        98.9          98.3         98.6          85.0          30.7
18        99,5          98,9         99,2          87,2          32,8
19        99,3          99,1         99,2          87,2          31,7
20        99,6          99,1         99,3          88,2          32,7
21         99,8          99,5         99,7          89,2          32,4
22          NaN           NaN          NaN           NaN           NaN

         Unnamed: 9  ... Unnamed: 21      Unnamed: 22     Unnamed: 23  \
0               NaN  ...         NaN  Cor ou raça (1)             NaN
1   25 anos ou mais  ...      Mulher           Branca  Preta ou parda
2               NaN  ...         NaN              NaN             NaN
3               NaN  ...         NaN              NaN             NaN
4               NaN  ...         NaN              NaN             NaN
5               NaN  ...         NaN              NaN             NaN
6               5.6  ...        11.3              7.2            16.3
7              5.7   ...        10.9                7            15.5
8              5.6   ...        10.2              6.5            14.7
9              5.5   ...         9.9              6.2            14.2
10             5.3   ...         9.8              6.2            13.7
11             5.1   ...         9.6              5.9            13.4
12              NaN  ...         NaN              NaN             NaN
13             4.5   ...         8.4              5.3            11.8
14             4.1   ...         8.4              5.3            11.8
15             4.1   ...         8.2              5.2            11.5
16             4.0   ...         7.9                5            11.1
17             3.7   ...         7.7              4.9            10.6
18             4,2   ...        7,0              4,2             9,9
19             4,3   ...        6,8              4,0             9,3
20             4,6   ...         NaN              NaN             NaN
21              4,5  ...         NaN              NaN             NaN
22              NaN  ...         NaN              NaN             NaN

        Unnamed: 24   Unnamed: 25   Unnamed: 26   Unnamed: 27   Unnamed: 28  \
0   Grupos de idade           NaN           NaN           NaN           NaN
1      15 a 19 anos  20 a 24 anos  25 a 34 anos  35 a 44 anos  45 a 54 anos
2               NaN           NaN           NaN           NaN           NaN
3               NaN           NaN           NaN           NaN           NaN
4               NaN           NaN           NaN           NaN           NaN
5               NaN           NaN           NaN           NaN           NaN
6               2.4             4           6.6           9.6            14
7               2.3           3.5           6.4           9.3          13.2
8               1.8           3.1           5.6           8.7          12.7
9               1.8           2.7           5.2           8.3          11.9
10              1.8           2.6           5.1           8.1          11.1
11              1.5           2.4           4.6           7.9          10.8
12              NaN           NaN           NaN           NaN           NaN
13              1.2           1.8           3.7           6.6           9.5
14              1.2           1.6           3.5           6.6           9.8
15                1           1.6           3.2           6.3           9.3
16              0.9           1.4           2.8             6           9.4
17              0.8           1.3           2.5           5.5           8.6
18             0,7           1,1           2,1           4,8           7,9
19             0,6           1,1           1,9           4,6           7,7
20              NaN           NaN           NaN           NaN           NaN
21              NaN           NaN           NaN           NaN           NaN
22              NaN           NaN           NaN           NaN           NaN

     Unnamed: 29      Unnamed: 30
0            NaN              NaN
1   55 a 64 anos  65 anos ou mais
2            NaN              NaN
3            NaN              NaN
4            NaN              NaN
5            NaN              NaN
6           23.5             34.4
7           22.6             33.8
8           20.8             32.1
9           19.8             31.3
10            19             30.8
11          17.9             30.8
12           NaN              NaN
13          15.2               28
14          15.7             27.2
15          14.8             27.7
16          13.8             26.4
17          12.9             25.7
18         11,9             23,5
19         11,4             22,3
20           NaN              NaN
21           NaN              NaN
22           NaN              NaN

[23 rows x 31 columns]>